body {
    font-family: 'Poppins', sans-serif;
    background-color: #767776;
    color: #4C5C68;
}

.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #9ca09d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2C3A47;
}

.btn-custom {
    color: #ffffff;
    background-color: #516e85;
}

.btn-custom:hover {
    background-color: #6C757D;
}

.form-text {
    color: #ffffff;
    text-align: center;
}

.alert-info {
    margin-top: 20px;
    background-color: #E2E8F0;
    color: #2C3A47;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}